@import 'https://fonts.googleapis.com/css?family=Baloo+Paaji';

body{
    background: #35dd71;
}

div{
    width: 200px;
    height: 200px;
    background: #ddd;
    position: fixed;
    border-radius: 0%;
    transition: all 10s ease;
    display: table; 
    color: #1d1c1c;
}

.inner{
    font-family: 'Baloo Paaji', cursive;
    height: 100%;
    vertical-align: middle;
    font-size: 2em;
    display: inline-block;
    display: table-cell;
    text-align: center;
}